* { /* Default */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

header {
    background-color: #a5b58d;
    padding: 1em;
    text-align: center;
}

header h1 {
    color: #fff894;
}

header a:hover {
    text-decoration: none;
}

header img {
    width: 20%;
    max-width: 100px;
}

.line {
    background-color: #7c5e43;
    height: 3px;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #f6efe8;
    justify-content: center;
    gap: min(6em, 15vw);
    align-items: center;
    padding: 0.5em;
}

.nav-item {
    color: black;
    font-family: sans-serif;
}

main {
    background-color: #b58b63;
    display: flex;
    flex-direction: column;
}

.section-title {
    margin-top: 2vw;
    text-align:center;
}


.background-image {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-size: min(3vw, 3em);
}

#slogan {
    aspect-ratio: 1.5;
    padding: 1em;
    width: 100%;
    background-image: url("../img/coffee-trio.jpg");
    justify-content: center;
    color: #ffffff;
    align-self: center;
    text-align: center;
}

.menu-card-section {
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    gap: 5vw;

    align-items: flex-start;
    color: #000000;
    margin: 5vw;

}

.menu-card-preview {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.menu-card-preview img {
    border: 3px solid #7c5e43;
}

.menu-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}


#info {
    background-color: #f6efe8;
    display:grid;
    grid-template-areas:
    "location opening-hours social"
    ". . contact";
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3vw 5vw 3vw 5vw;
    gap: 3vw;
}


#image-collection {
    display: grid;
    grid-template-areas:
    "img-l img-c img-tr"
    "img-l img-c img-br";
    grid-template-columns: 1fr 1.065fr 1fr;
    gap: 3vw;
    padding: 3vw;
    background-color: #b58b63;
}

#image-collection img {
    border: 3px solid #7c5e43;
}


footer {
    background-color: rgb(35, 37, 45);
    color: white;
    font-family: sans-serif;
    padding: 20px;

    display: flex;
    flex-direction: row;
    gap: 30px;
    line-height: 1.8em;
}

.about-us-template {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 1em 5vw;
}

.about-us-template img {
    max-height: 400px;
    max-width: 50%;
}

/* temporary */
img {
    max-width: 100%;
}

#cafe-location {
    aspect-ratio: 1.35;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fc8.alamy.com%2Fcomp%2F2WA0B8M%2Fparis-france-view-outside-front-french-cafe-bistro-restaurant-with-flowers-decorations-caf-saint-honor-old-cafe-2WA0B8M.jpg&f=1&nofb=1&ipt=49038ec68309fc3f42fdef9c8d945706160e99de7a38c521c92cb129b4cc71e7");
    color: white;
    padding: 10%;
    text-align: left;
}


#unnamed-section {
    display: grid;
    grid-template-columns: 3fr 4fr;
    min-height: 300px;
}

#unnamed-section img {
    background-color: blue;
}

#opening-hours {
    background-color: #f6efe8;
    padding: 10px;
    border-radius: 20px;
}




p,a {
    font-family: sans-serif;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: currentColor;
}

#test {
    line-height: 2em
}

/*
FONTS
    serif
    sans-serif

*/
