* { /* Default */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

header {
    background-color: #a5b58d;
    padding: 1em;
    text-align: center;
}

header h1 {
    color: #fff894;
}

header a:hover {
    text-decoration: none;
}

header img {
    width: 20%;
    max-width: 100px;
}

.line {
    background-color: #7c5e43;
    height: 3px;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #f6efe8;
    justify-content: center;
    gap: min(6em, 15vw);
    align-items: center;
    padding: 0.5em;
}

.nav-item {
    color: black;
}

main {
    background-color: #b58b63;
    display: flex;
    flex-direction: column;
}


.section-title {
    margin-top: 2vw;
    text-align:center;
}


.background-image {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-size: min(3vw, 3em);
}

#slogan {
    aspect-ratio: 1.5;
    padding: 1em;
    width: 100%;
    background-image: url("../img/coffee-trio.jpg");
    justify-content: center;
    color: #ffffff;
    align-self: center;
    text-align: center;
}

.menu-card-section {
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    gap: 5vw;

    align-items: flex-start;
    color: #000000;
    margin: 5vw;

}

.menu-card-preview {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.menu-card-preview img {
    border: 3px solid #7c5e43;
}

.menu-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}


#info {
    background-color: #f6efe8;
    display:grid;
    grid-template-areas:
    "location opening-hours social"
    ". . contact";
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3vw 5vw 3vw 5vw;
    gap: 3vw;
}


#image-collection {
    display: grid;
    grid-template-areas:
    "img-l img-c img-tr"
    "img-l img-c img-br";
    grid-template-columns: 1fr 1.065fr 1fr;
    gap: 3vw;
    padding: 3vw;
    background-color: #b58b63;
}

#image-collection img {
    border: 3px solid #7c5e43;
}


footer {
    background-color: rgb(35, 37, 45);
    color: white;
    padding: 20px;

    display: flex;
    flex-direction: row;
    gap: 30px;
    line-height: 1.8em;
}


/* temporary */
img {
    max-width: 100%;
}

p,a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: currentColor;
}

/* Menu */
#menu-main {
    padding: 4vh 3em;
    text-align: center;
    display:grid;
    justify-items: center;
}

#menu-main nav {
    margin: 2em 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

#menu-main nav a {
    border: 2px solid #a5b58d;
    background-color: #f6efe8;
    padding: 0.5em 2em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    border-radius: 10px;
}



.menu-section {
    margin: 2em 0; /* margin top, bot */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 3em;
    max-width: 800px;

}

.menu-article {
    background-color: #f6efe8;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    border-radius: 10px;
}

.menu-article h4, .menu-article p {
    text-align: left;
}


/* About us */
#wrapper-about main h1 {
    align-self: center;
    padding: 1em;
}

#wrapper-about main {
    padding-bottom: 2em;
}

.about-us-section {
    display: grid;
    gap: 1em;
    max-width: 600px;
    align-self: center;
    padding: 1em 2em;
    background-color: #f6efe8;
    margin: 0 2em;
}

#about-us-history {
    grid-template-areas: 
    "ttl ttl"
    "img pg1"
    "img pg2";
    grid-template-columns: 1.4fr 2fr;
}

#about-us-employees {
    grid-template-areas:
    "ttl ttl"
    "pg1 img"
    "pg2 img"
}

#about-us-info {
    grid-template-areas: 
    "ttl tll"
    "pg1 pg1"
    "r1 img"
    "pg2 img"
    "r2 ."
    "pg3 .";
    align-items:start;
}

.section-title {
    grid-area: ttl;
}

.section-paragraph1 {
    grid-area: pg1;
}

.section-paragraph2 {
    grid-area: pg2;
}

.section-img {
    grid-area: img;
    max-height: 300px;
}



